.contenedorModificarDatos {
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: auto; /* Centra el contenedor */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
}

.tituloModificar {
  font-size: 60px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 20px; /* Espaciado inferior */
}

.inputModificar {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 15px; /* Espaciado inferior */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
}

.inputModificar::placeholder {
  color: #aaa; /* Color del texto del placeholder */
}

.botonGuardar {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  background-color: #2196F3; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 40px;
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.botonGuardar:hover {
  background-color: #1976D2; /* Color de fondo al pasar el mouse */
}


